*{
	font-family: segoe ui;
	margin: 0;
	padding: 0;	
}
.header{                                                             /*  header   */
	display: flex;
	border-top: 3px solid #f48225;
	border-bottom: 2px solid #e6e6e6;
    	position: relative;
    	align-items: center;
	background-color:#f8f9f9;
	height: 47px;	
	box-shadow:0px 0px 5px #f8f9f9;
	position: fixed;
    	z-index: 10;
	width: 100%;
		
}
.leftpart{
	display:flex;
}
.leftpart img{	
	height: 45px;
	width: 158px;
	background-color:f8f9f9;	
	margin-bottom: 2px;
	cursor: pointer;
}
.leftpart img:hover{
	background-color:red;
}
.leftpart .product{
	margin: 13.5px 0px 0px 20px;
	font-size:13px;
	color: #7d8388;
	font-family: segoe ui;
	cursor: pointer;
}
.li .product:hover{
	background-color:#dbe6ff;
	border-radius:50px;
	height:40px;
	width:55px;
	
}
.middlepart{
	border: 1px solid #c9cdd1;
	width: 768px;
	height: 31px;    
	margin-left:20px;
	background-color:#ffff;	
	border-radius:3px;
}
.middlepart input{	
	border: none;
	width: 736px;
	padding-top: 6px;
        font-size: 13;  
	margin-left:32px;
	color: #797380;
	font-family: segoe ui;
}
.middlepart input:focus{
	outline:none;
}
.middlepart img{
   	width: 26px;
   	opacity: .2;
	position: absolute;
	top: 10.5px;
	padding-left: 4px;
	color:#ced2d6;
}
.rightpart{
	display:flex;
}
.rightpart button{
	display:flex;
	margin-left:8px;
    	height: 47px;
    	width: 81.5px;
    	padding: 11.5px 0 0 12px;
	background-color:#f8f9f9;
	border: none;	
	cursor: pointer;
}
.rightpart button .data{
	padding: 3px 0 0 4.5px;
	font-size:12px;
	font-weight:bold;	
	font-family: segoe ui;
}	
.rightpart button .circle{
   	width:6px;	
	height:6px;	
	border-radius:50px;
	background-color:#d1a684;
	margin:9px 1px 1px 8px;
}
.rightpart button .cdata{
	padding: 5px 0 0 1.7px;
	font-size:12px;	
	color:#c0a38a;
	font-weight:450;
	font-family: arial, sans-serif;	
}	
.last1 button{
	height: 48px;
	width: 43px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last1 button img{
	margin: 0px 2px 1px 0px;
	width:41px;
	height:45px;	
	padding-left:1px;
	padding-bottom: 1px;
}
.last2 button{
	height: 48px;
	width: 35px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;	
}
.last2 button img{
	margin-right:7px;
	width:38.5px;	
	padding-bottom:1px;
}
.last3 button{
	height: 48px;
	width: 39px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last3 button img{
	margin: 0px 2px 1px 0px;
	width:37px;
	height:43px;
	padding-left:1px;	
	
}
.last4 button{
	height: 48px;
	width: 34px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last4 button img{
	margin: 0px 2px 1px 0px;
	width:37px;
	height:43px;
	padding-top:2px;	
	
}
.sidebar{			                                          /*  sidebar   */
	border-right:1px solid #e0e2e5;
	width:163.5px;
	height: 540px;
	padding-top: 73px;	
	position: fixed;
}
.sidebar .home{
	font-family: segoe ui;
	padding: 8px 1px 1px 8px;
	margin-bottom: 11px;
        font-size: 13px;
	cursor:pointer;	
	color: #7d8288;
}
.sidebar .public{
	font-family: segoe ui;
	font-size: 11px;
	padding: 12px 0px 0px 8px;
	color: #8a9198;
}
.sidebar .options .one{
	margin:2px 0px;
}
.sidebar .options .material-icons{
	color:#838ca5;
	padding: 10px 0px 0px 7.3px;
	font-size:19px;
}
.sidebar .options a{
	font-size:13px;
	text-decoration:none;
	font-family: segoe ui;
	line-height: 16px;
	position: relative;		
}
.sidebar .options .one a{
	bottom:4.5px;
	right:.7px;
	color: #696f95;
}
.sidebar .options .two{
	height:35.5px;
}
.sidebar .options .two a{
	top: 5.5px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;	
}
.sidebar .options .three{
	height:34px;
	width:161px;
	border-right: 3px solid #f48225;
}
.sidebar .options .three a{
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #000000;	
	font-weight: bold;
}
.sidebar .options .three {
	background-color:#f1f1f3;
}
.sidebar .options .four{
	height:33px;
}
.sidebar .options .four a{
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;	
}
.sidebar .option a{
	text-decoration:none;	
	color:#696f95;	
	font-family: segoe ui;
	position: relative;	
}
.sidebar .option .collect a{
	font-size:11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 3.5px;	
}
.sidebar .option .material-icons{
	font-size:14px;
	color:#6a737c;
}
.sidebar .option .collect .material-icons{
	padding:17.5px 0px 0px 4px;
}
.sidebar .expo img{
	height: 22px;
	width: 24px;
        padding-top: 2px;
        padding-left: 4.5px;
}
.sidebar .expo a{
	font-size: 13px;
        bottom: 7px;
        right: 3px;
}
.sidebar .option .team a{
	font-size:11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 4.5px;	
}
.sidebar .option .team .material-icons{
	padding:29px 0px 0px 30px;
}
.sidebar .free img{
	height: 22px;
	width: 24px;
        padding-top: 7px;
        padding-left: 4.5px;
}
.sidebar .free a{
	font-size: 13px;
        bottom: 8px;
        right: 3px;
}


									          /*  mainbody   */
.mainbody{
	display: flex;	
}

.p-image .dp{
	width:128px;
	height:128px;
	border: 1px solid #f3f3f3;
	margin: 21px 0px 0px 24px;
	border-radius:6px;
	box-shadow: 0px 0px 5px #efefef;
}
.p-image{
	display: inline-block;
}
.p-right{
	display: inline-block;
    	vertical-align: top;
    	padding: 0px 0px 0px 10.5px;
}
.mainbody ul{
	 list-style-type: none;
}
.p-right .name{
	font-size:34px;
	margin-top:31px;
}
.p-right .day{
	font-size:13px;
	margin-top: 8px;
}
.p-right .day .material-icons{
	font-size:18px;
	color:#919991;
	padding-top:1.8px;
}
.day .data1{
	color:#828597;
	vertical-align: top;
    	font-family: segoe ui;
	margin-right:4px;
}
.p-right button{
	margin-left: 688px;
    	position: absolute;  
    	top: 66px;
	width:76px;
    	padding: 7px 4px 6.5px 10px;
    	font-size: 12px;
    	color: #818f99;
    	background: none;
    	outline: none;
    	border: 1px solid  #818f99;
    	font-family: segoe ui;
	border-radius:3px;
}
.mainbody .p-right .name .material-icons{
	vertical-align: middle;
	font-size:20px;
}



.main-class{
	margin-left: 154px;
	padding: 52px 10px;
}	
.mainbody .data .material-icons{
	font-size:21px;
	color:#919991;
}
.mainbody .data{
	font-family: segoe ui;
	padding-top: 3px;
}
.mainbody .data .twiter{
	height: 18px;
	width: 19px;
}
.mainbody .data .git{
	height: 20px;
	width: 26px;
}
.mainbody .data .pin{
	height: 19px;
	width: 22px;
}
.mainbody .data .data2{
	color:#828597;
	font-size:13px;
	font-family: segoe ui;
	vertical-align: top;
}
.pa-button{
	display:flex;
	margin-top: 13px;
}
.pa-button .profilebut{
    	margin-left: 25px;
    	margin-bottom: 16px;
   	padding: 4px 11px 7px 11.5px;
   	border-radius: 50px;
	font-family: segoe ui;
	background-color: #f48225;
	border: none;
    	color: #ffff;
}
.pa-button .activitybut{
    	margin-left: 5px;
    	margin-bottom: 16px;
   	padding: 4px 10.5px 7px 11.5px;
   	border-radius: 50px;
	font-family: segoe ui;
	border: none; 
	color:#62768e;
	background-color:#ffff;  	
}
.pa-button .activitybut:hover{
	background-color:#f1f2f3;
}




                                           /*status box layer2*/

.layer2{
	display: flex;
}


.status{
	margin-left: 24.5px;
}
.title{
	font-size: 21;
}
.statusdata table {
	border: 1px solid #e6e7e9;    	
    	margin: 10px 0px 0px 1px;
    	padding: 7px 10px 0px 9px;
	border-radius: 6px;
}
.statusdata table img{
	width:24.5px;	
    	padding-top: 14px;
}
.statusdata table{
	font-family: segoe ui;	
}
#no1,#no2,#no3,#no4{
	font-family: segoe ui;
	font-size:17px;
}
#reput,#reach, #ans, #ques, #over{
	font-family: segoe ui;
	font-size:13px;
	color:#8985a1;
}
#no2, #reach, #no4, #ques{
	padding-left: 44px;
	padding-right: 46px;
}
#no3, #no4{
	padding-top: 11.5px;
}
#over{
	padding-bottom: 6px;
}


.collective{
	margin-left: 24.5px;
    	margin-top: 22px;
}
.collective table{
	border: 1px solid #e6e7e9;
	margin: 9.5px 0 0 1px;
	border-radius: 6px;
	padding-bottom: 7px;
}
#cloud img{
	width: 54px;
    	margin: 10.5px 0 0 6px;
}
#google{
	font-size: 15px;
    	padding: 4px 81px 0px 3px;
	color: #58483d;
}
#google p{
	font-size: 12px;
	color: #7c7073;
}
#google img{
	width: 5px;
    	margin-right: 3px;
}
.sublayer2{
	    display: inline-flex;
}
.sublayer2 .about{
	    margin-left: 24.2px;
}
.abouttitle{
	font-size: 21px;
    	margin-bottom: 9.5px;
}
.line1, .line2, .line3, .line4, .site{
	font-size: 15px;
    	color: #494151;
}
.about a{
	color: #408cce;
}
.line2{
    	padding-top: 2px;
}
.line3{
	padding-top: 3px;
}
.site{
	padding-top: 19px;
}
.about ul{
	color: #3b4045;
    	font-size: 15px;
    	margin: 19px 0 0px 30px;
}
#blog, #article{
	padding-top: 10.5px;
}
#twit{
	padding-top: 11.5px;
}
.line4{
	padding-top: 18.5px;
}


.layer3{
	display: flex;
}
.community{
	margin-left: 25px;
    	margin-top: 22px;
}
.communitytitle{
	font-size:21px;
}
.view img{
	width:19px;
	vertical-align: middle;
}
.view{
	font-size: 13px;
    	color: #87939d;
    	padding-left: 57px;
}
.communitybox table{
	border: 1px solid #e6e7e9;
    	margin-top: 9px;
    	font-size: 13px;
	padding: 13px 0 12px 5px;
}
.communitybox img{
	width: 25px;
	padding-bottom: 2px;
}
#stackoverflow2, #meta2, #super2, #server2, #sw2{
	padding-left: 36px;
    	padding-right: 18px;
	color:#7a8b94;
}
#stackoverflow1, #meta1, #super1, #server1, #sw1{
	color:#4886ce;
}
.badges table li{
	list-style-position: inside;
}
.badge{
	margin-left: 25px;
    	margin-top: 22px;
}
.badgetitle{
	    font-size: 21px;
}
.badges img{
	width: 64px;
}