*{
	font-family: segoe ui;
	margin: 0;
	padding: 0;	
}
.header{                                                             /*  header   */
	display: flex;
	border-top: 3px solid #f48225;
	border-bottom: 2px solid #e6e6e6;
    	position: relative;
    	align-items: center;
	background-color:#f8f9f9;
	height: 47px;	
	box-shadow:0px 0px 5px #f8f9f9;
	position: fixed;
    	z-index: 10;
	width: 100%;
		
}
.leftpart{
	display:flex;
}
.leftpart img{	
	height: 45px;
	width: 158px;
	background-color:f8f9f9;	
	margin-bottom: 2px;
	cursor: pointer;
}

.leftpart .product{	
	font-size:13px;
	color: #7d8388;
	font-family: segoe ui;	
	margin: 9.5px 0px 0px 8px;	
    	border-radius: 50px;
   	height: 24px;
    	width: 63px;
    	padding-top: 4px;
    	padding-left: 12px;
  
}
.leftpart .product:hover{
	cursor: pointer;
   	margin: 9.5px 0px 0px 8px;
    	background-color: #cfd6d6;
    	border-radius: 50px;
    	height: 24px;
    	width: 63px;
    	padding-top: 4px;
    	padding-left: 12px;
	color:#000000;
}

.middlepart{
	border: 1px solid #c9cdd1;
	width: 768px;
	height: 31px;    
	margin-left:7.5px;
	background-color:#ffff;	
	border-radius:3px;
}
.middlepart input{	
	border: none;
	width: 736px;
	padding-top: 6px;
        font-size: 13;  
	margin-left:32px;
	color: #797380;
	font-family: segoe ui;
}
.middlepart input:focus{
	outline:none;
}
.middlepart img{
   	width: 26px;
   	opacity: .2;
	position: absolute;
	top: 10.5px;
	padding-left: 4px;
	color:#ced2d6;
}
.rightpart{
	display:flex;
}
.rightpart button:hover{
	background-color:#cfd6d6;
}
.rightpart button{
	display:flex;
	margin-left:8px;
    	height: 47px;
    	width: 81.5px;
    	padding: 11.5px 0 0 12px;
	background-color:#f8f9f9;
	border: none;	
	cursor: pointer;
}
.rightpart button .data{
	padding: 3px 0 0 4.5px;
	font-size:12px;
	font-weight:bold;	
	font-family: segoe ui;
}	
.rightpart button .circle{
   	width:6px;	
	height:6px;	
	border-radius:50px;
	background-color:#d1a684;
	margin:9px 1px 1px 8px;
}
.rightpart button .cdata{
	padding: 5px 0 0 1.7px;
	font-size:12px;	
	color:#c0a38a;
	font-weight:450;
	font-family: arial, sans-serif;	
}	
.last1 button{
	height: 48px;
	width: 43px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last1 button img{
	margin: 0px 2px 1px 0px;
	width:41px;
	height:45px;	
	padding-left:1px;
	padding-bottom: 1px;
}
.last2 button{
	height: 48px;
	width: 35px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;	
}
.last2 button img{
	margin-right:7px;
	width:38.5px;	
	padding-bottom:1px;
}
.last3 button{
	height: 48px;
	width: 39px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last3 button img{
	margin: 0px 2px 1px 0px;
	width:37px;
	height:43px;
	padding-left:1px;	
	
}
.last4 button{
	height: 48px;
	width: 34px;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.last4 button img{
	margin: 0px 2px 1px 0px;
	width:37px;
	height:43px;
	padding-top:2px;	
	
}
.mainbar{
	display:flex;
}
.sidebar{			                                          /*  sidebar   */
	border-right:1px solid #e0e2e5;
	width:163.5px;
	height: 540px;
	padding-top: 73px;	
	position: sticky;
    	top: 0;
}
.sidebar .home{
	font-family: segoe ui;
	padding: 8px 1px 1px 8px;
	margin-bottom: 11px;
        font-size: 13px;
	cursor:pointer;	
	color: #7d8288;
}
.home:hover{
	color:#404244;
}
.sidebar .public{
	font-family: segoe ui;
	font-size: 11px;
	padding: 12px 0px 0px 8px;
	color: #8a9198;
}
.sidebar .options .one{
	margin:2px 0px;
}
.sidebar .options .material-icons{
	color:#838ca5;
	padding: 10px 0px 0px 7.3px;
	font-size:19px;
}
.sidebar .options a{
	font-size:13px;
	text-decoration:none;
	font-family: segoe ui;
	line-height: 16px;
	position: relative;		
}
.sidebar .options .material-icons:hover,.sidebar .options .one a:hover,.sidebar .options .two a:hover,.sidebar .options .four a:hover{
	color:#404244;
}
.sidebar .options .one a{
	bottom:4.5px;
	right:.7px;
	color: #696f95;
}
.sidebar .options .two{
	height:35.5px;
}
.sidebar .options .two a{
	top: 5.5px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;	
}
.sidebar .options .three{
	height:34px;
	width:161px;
	border-right: 3px solid #f48225;
}
.sidebar .options .three a{
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #000000;	
	font-weight: bold;
}
.sidebar .options .three {
	background-color:#f1f1f3;
}
.sidebar .options .four{
	height:33px;
}
.sidebar .options .four a{
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;	
}
.sidebar .option a{
	text-decoration:none;	
	color:#696f95;	
	font-family: segoe ui;
	position: relative;	
}
.sidebar .option .collect a{
	font-size:11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 3.5px;	
}
.sidebar .option .material-icons{
	font-size:14px;
	color:#6a737c;
}
.sidebar .option .collect .material-icons{
	padding:17.5px 0px 0px 4px;
}
.sidebar .expo img{
	height: 22px;
	width: 24px;
        padding-top: 2px;
        padding-left: 4.5px;
	cursor: pointer;
}
.sidebar .expo a{
	font-size: 13px;
        bottom: 7px;
        right: 3px;
}
.expo a:hover,.free a:hover{
	color:#404244;
}
.sidebar .option .team a{
	font-size:11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 4.5px;	
}
.sidebar .option .team .material-icons{
	padding:29px 0px 0px 30px;
}
.sidebar .free img{
	height: 22px;
	width: 24px;
        padding-top: 7px;
        padding-left: 4.5px;
	cursor: pointer;
}
.sidebar .free a{
	font-size: 13px;
        bottom: 8px;
        right: 3px;
}


									          /*  mainbody   */
.mainbody{
	display: flex;	
}

.p-image .dp{
	width:128px;
	height:128px;
	border: 1px solid #f3f3f3;
	margin: 21px 0px 0px 24px;
	border-radius:6px;
	box-shadow: 0px 0px 5px #efefef;
}
.p-image{
	display: inline-block;
}
.p-right{
	display: inline-block;
    	vertical-align: top;
    	padding: 0px 0px 0px 10.5px;
}
.mainbody ul{
	 list-style-type: none;
}
.p-right .name{
	font-size:34px;
	margin-top:31px;
}
.p-right .day{
	font-size:13px;
	margin-top: 8px;
}
.p-right .day .material-icons{
	font-size:18px;
	color:#919991;
	padding-top:1.8px;
}
.p-right .day .material-icons:hover,.mainbody .data .material-icons:hover{
	cursor:default;
}
.day .data1{
	color:#828597;
	vertical-align: top;
    	font-family: segoe ui;
	margin-right:4px;
}
.p-right button{
	margin-left: 688px;
    	position: absolute;  
    	top: 66px;
	width:76px;
    	padding: 7px 4px 6.5px 10px;
    	font-size: 12px;
    	color: #818f99;
    	background: none;
    	outline: none;
    	border: 1px solid  #818f99;
    	font-family: segoe ui;
	border-radius:3px;
}

.mainbody .p-right .name .material-icons{
	vertical-align: middle;
	font-size:20px;
}
.p-right button:hover{
	background-color:#e3e6e8;
	cursor:pointer;
}


.main-class{
	padding: 52px 10px 52px 0px;
}	
.mainbody .data .material-icons{
	font-size:21px;
	color:#919991;
}
.mainbody .data{
	font-family: segoe ui;
	padding-top: 3px;
}
.mainbody .data .twiter{
	height: 18px;
	width: 19px;
}
.mainbody .data .git{
	height: 20px;
	width: 26px;
}
.mainbody .data .pin{
	height: 19px;
	width: 22px;
}
.pin:hover,.git:hover,.twiter:hover,.data .data2:hover{
	cursor:pointer;
}
.data .data3,.data .data2{
	color:#828597;
	font-size:13px;
	font-family: segoe ui;
	vertical-align: top;
}
.pa-button{
	display:flex;
	margin-top: 13px;
}
.pa-button .profilebut{
    	margin-left: 25px;
    	margin-bottom: 16px;
   	padding: 4px 11px 7px 11.5px;
   	border-radius: 50px;
	font-family: segoe ui;
	background-color: #f48225;
	border: none;
    	color: #ffff;
}
.pa-button .profilebut:hover{
	background-color: #e64a0c;
}
.pa-button .activitybut{
    	margin-left: 5px;
    	margin-bottom: 16px;
   	padding: 4px 10.5px 7px 11.5px;
   	border-radius: 50px;
	font-family: segoe ui;
	border: none; 
	color:#62768e;
	background-color:#ffff;  	
}
.pa-button .activitybut:hover{
	background-color:#f1f2f3;
}




                                           /*status box layer2*/

.layer2{
	display: flex;
}


.status{
	margin-left: 24.5px;
}
.title{
	font-size: 21;
}
.statusdata table {
	border: 1px solid #e6e7e9;    	
    	margin: 10px 0px 0px 1px;
    	padding: 7px 10px 0px 9px;
	border-radius: 6px;
}
.statusdata table img{
	width:24.5px;	
    	padding-top: 14px;
}
.statusdata table{
	font-family: segoe ui;	
}
#no1,#no2,#no3,#no4{
	font-family: segoe ui;
	font-size:17px;
}
#reput,#reach, #ans, #ques, #over{
	font-family: segoe ui;
	font-size:13px;
	color:#8985a1;
}
#no2, #reach, #no4, #ques{
	padding-left: 44px;
	padding-right: 46px;
}
#no3, #no4{
	padding-top: 11.5px;
}
#over{
	padding-bottom: 6px;
}
#over:hover{
	cursor:pointer;
}

.collective{
	margin-left: 24.5px;
    	margin-top: 22px;
}
.collective table{
	border: 1px solid #e6e7e9;
	margin: 9.5px 0 0 1px;
	border-radius: 6px;
	padding-bottom: 7px;
}
#cloud img{
	width: 54px;
    	margin: 10.5px 0 0 6px;
}
#google{
	font-size: 15px;
    	padding: 4px 81px 0px 3px;
	color: #58483d;
}
#cloud:hover,#google:hover{
	cursor:pointer;
}
#google p{
	font-size: 12px;
	color: #7c7073;
}
#google img{
	width: 5px;
    	margin-right: 3px;
}
.sublayer2{
	    display: inline-flex;
}
.sublayer2 .about{
	    margin-left: 24.2px;
}
.abouttitle{
	font-size: 21px;
    	margin-bottom: 9.5px;
}
.line1, .line2, .line3, .line4, .site{
	font-size: 15px;
    	color: #494151;
}
.about a{
	color: #408cce;
}
.line2{
    	padding-top: 2px;
}
.line3{
	padding-top: 3px;
}
.site{
	padding-top: 19px;
}
.about ul{
	color: #3b4045;
    	font-size: 15px;
    	margin: 19px 0 0px 30px;
}
#blog, #article{
	padding-top: 10.5px;
}
#twit{
	padding-top: 11.5px;
}
.line4{
	padding-top: 18.5px;
}


.layer3{
	display: flex;
}
.community{
	margin-left: 25px;
    	margin-top: 22px;
}
.communitytitle{
	font-size:21px;
}
.view img{
	width:19px;
	vertical-align: middle;
}
.view{
	font-size: 13px;
    	color: #87939d;
    	padding-left: 57px;
}
.view:hover{
	cursor:pointer;
	color:#6c757d;
}
.communitybox table{
	border: 1px solid #e6e7e9;
    	margin-top: 9px;
    	font-size: 13px;
	padding: 13px 0 12px 5px;
	border-radius:5px;
}
.communitybox img{
	width: 25px;
	padding-bottom: 2px;
}
#stackoverflow2, #meta2, #super2, #server2, #sw2{
	padding-left: 36px;
    	padding-right: 18px;
	color:#7a8b94;
}
#stackoverflow1, #meta1, #super1, #server1, #sw1{
	color:#4886ce;
}
#stackoverflow1:hover, #meta1:hover, #super1:hover, #server1:hover, #sw1:hover{
	color:#84aede;
}
.badge .badgedatas{
	border: 1px solid #e6e7e9;
    	margin-top: 9px;
    	font-size: 13px;
	padding: 0px 0 12px 5px;
	border-radius:5px;
}
.badge table li{
	list-style-position: inside;
}
.badge{
	margin-left: 17px;
    	margin-top: 22px;
}
.badgetitle{
	    font-size: 21px;
}
.badge img{
	width: 64px;
}
#num{
	font-size: 21px;
    	font-weight: 600;
}
#bd{
	color: #5a5c5e;
}
#b1{
	border:1px solid #e0e2e5;
	background-color: #f1f2f3;
	color:#ffc001; 
	border-radius:5px;
	padding-left: 7px;
}
#b1:hover,#b3:hover,#b2:hover{
	cursor:pointer;
	background-color:#e3e5e7;
}
#b1 span{
	color:#7d7885;
	font-size: 11px;	
}
#bd1{
	font-size: 11px;
    	padding-left: 68px;
}
#table2{
	border-spacing: 8px;
}
.badge .silver{
	border: 1px solid #e6e7e9;
    	margin-top: 35px;
    	font-size: 13px;
	padding: 0px 0 12px 5px;
	border-radius:5px;
}
#b2{
	border:1px solid #e0e2e5;
	background-color: #f1f2f3;
	color:#b4b8bc; 
	border-radius:5px;
	padding-left: 7px;
}
#b2 span{
	color:#7d7885;
	font-size: 11px;	
}
.bronze{
	padding-left: 163px;
    	font-size: 13px;
    	color: #87939d;
}
.bronze:hover{
	cursor:pointer;
	color:#6c757d;
}
.bronzedata{
	border: 1px solid #e6e7e9;
    	margin-top: 18px;
    	font-size: 13px;
	padding: 0px 0 12px 5px;
	border-radius:5px;
}
#b3{
	border:1px solid #e0e2e5;
	background-color: #f1f2f3;
	color:#d1a684; 
	border-radius:5px;
	padding-left: 7px;
}
#b3 span{
	color:#7d7885;
	font-size: 11px;	
}

.tags{
	padding-left: 293.5px;
    	padding-top: 17px;
	display: inline-block;
}
.tagtitle{
	display: inline-block;
	font-size: 21px;
}
.tagview{
	font-size: 13px;
    	float: right;
	color: #87939d;
}
.tagview:hover{
	cursor:pointer;
	color:#6c757d;
}
.tagtable{
	border-top: 1px solid #e6e7e9;
	border-left: 1px solid #e6e7e9;
	border-right: 1px solid #e6e7e9;
    	margin-top: 11px;
    	border-radius: 5px;
	margin-right: 16px;
}
.tagtable table td{	
  	border-bottom: 1px solid #e6e7e9;	
}

.tagtable button{
    	color: #658eb4;
    	background: #e1ecf4;
    	border: none;
    	padding: 4px 5px 8px 5px;
    	margin: 8px 0px 10px 10px;
    	border-radius: 3px;
    	font-size: 12px;
	height: 26px;
}
.tagtable button:hover{
	background:#c1e1ec;
}
#dot{
    	color: #ffcc01;
	font-size: 13px;   
}
#tagno{
	font-size: 17px;
}
#tagno1{
	padding-left: 411px;
}
#tagdata{
	color: #8a8598;
    	font-size: 13px;
    	padding-right: 18px;
}


.post-container{
	padding-left: 293.5px;
    	padding-top: 19px;
	display: inline-block;
}
.post{
	float: right;
	padding: 18px 16px 0px 0px;
}
.posttitle{
	display: inline-block;
	font-size: 21px;
}
.post button{
	height: 26px;
     	border: none; 
    	background: transparent;
    	color: #7d7885;
    	font-size: 11;
	border: 1px solid #7d7885;
	padding: 5px;
}
.post button:hover{
	cursor:pointer;
}
.post #r2:hover{
	background-color:#e8f4f8;
}
.post #s:hover{
	background-color:#e8f4f8;
}
.post #r1{
	background: #e3e6e8;	
	border-radius: 4px 0 0 4px;
}
.post #r2{
	border-radius: 0 4px 4px 0;
}
.posttag{
	display: inline-block;
	
}
.postbutn1{
	display: inline-flex;
	
}
.postbutn2{
	display: inline-flex;
	padding-left: 10px;
}
.postview a{
	text-decoration: none;
    	color: #7786d4;
}
.postview{
	font-size: 13px;
	color: #7d7885;
}
.posttable{
	border-top: 1px solid #e6e7e9;
	border-left: 1px solid #e6e7e9;
	border-right: 1px solid #e6e7e9;
    	margin-top: 11px;
    	border-radius: 5px;
	padding: 6px 0 0 5px;
	margin-right: 16px;
}
.posttable td{
	border-bottom: 1px solid #e6e7e9;
}
.posttable img{
	height: 25px;
	padding-bottom: 4px;
}
.posttable button{
	background-color: #5eba7d;
    	border: none;
    	border-radius: 3px;
    	height: 25px;
    	width: 37px;
    	color: #ffff;
    	font-size: 12px;
	margin: 7px 0px 12px 6px;
}
.posttable button:hover{
	cursor:text;
}
#question{
	font-size: 15px;
    	color: #178cda;
	padding-left: 9px;
	padding-bottom: 4px;
	
}
#questiondate{
	color: #7d7885;
	font-size: 13px;
    	padding-left: 151px;
	padding-bottom: 4px;	
}
#different{
	border: 1px solid #e6e7e9;
	background: transparent;
    	color: #000000;
}
#different:hover{
	cursor:text;
}
#questions{
	font-size: 15px;
    	color: #178cda;
	padding-left: 9px;
	padding-bottom: 4px;
	width:686px;
}

#question:hover,#questions:hover{	
	color:#2dc7e3;
	cursor:pointer;
}


.metapost{
	padding-left: 293.5px;
    	padding-top: 17px;
	display: inline-block;
}
.meta span{
	color: #7d7885;
	font-size: 13px;
}
.meta{
	display:flex;
	float: right;
	margin-top: 8px;
	margin-right: 17px;	
}
.metatitle{
	display: inline-block;
	font-size: 21px;
}
.metatable{
	border-top: 1px solid #e6e7e9;
	border-left: 1px solid #e6e7e9;
	border-right: 1px solid #e6e7e9;
    	margin-top: 11px;
    	border-radius: 5px;
	padding: 6px 0 0 5px;
	margin-right: 16px;
}
.metatable td{
	border-bottom: 1px solid #e6e7e9;
}
.metatable img{
	height: 25px;
	padding-bottom: 4px;
}
.metatable button{
	background-color: #5eba7d;
    	border: none;
    	border-radius: 3px;
    	height: 25px;
    	width: 37px;
    	color: #ffff;
    	font-size: 12px;
	margin: 7px 0px 12px 6px;
}
.meta img{
	height:20px;
}
#stackg{
	height: 22px;
}


.netview{
	font-size: 13px;
    	float: right;
	color: #87939d;
	margin-top: 8px;
	padding-right: 15px;
}
.netview:hover{
	cursor:pointer;
	color:#6c757d;
}
#network{
	height:21px;
}
.nettitle{
	display: inline-block;
	font-size: 21px;
}
.nettable{
	border-top: 1px solid #e6e7e9;
	border-left: 1px solid #e6e7e9;
	border-right: 1px solid #e6e7e9;
    	margin-top: 11px;
    	border-radius: 5px;
	padding: 6px 0 0 5px;
	margin-right: 16px;
}
.nettable td{
	border-bottom: 1px solid #e6e7e9;
}
.nettable img{
	height: 25px;
	padding-bottom: 4px;
}
.nettable button{
	background-color: #5eba7d;
    	border: none;
    	border-radius: 3px;
    	height: 25px;
    	width: 37px;
    	color: #ffff;
    	font-size: 12px;
	margin: 7px 0px 12px 6px;
}
.metapost span{
	display:inline-flex;
}
.net{
	padding-left: 293.5px;
    	padding-top: 17px;
	display: inline-block;
}
#some{
	color:white;
}



				/*footer*/


.footer img{
	width: 50px;
	padding-top: 17px;
}
.foot_container{
	Background-color: #242526;
	display: flex;
	height: 322px;
	position: absolute;
	width: 1263px;
}
.footer{
	display: flex;	
}
.foot-column{
	display: inline-block;
	padding-top: 31px;
	margin-left: 25px;
}
.foot-column2{
	display: inline-block;
	padding-top: 31px;
	margin-left: 100px;
}
.foot-column #head,.foot-column2 #head{
	font-size: 13px;
	font-weight: bold;
	color:#babfc4;
	padding-bottom: 16px;
}
.foot-column #head,.foot-column2 #head{
	cursor:pointer;
}
.foot-column #subhead,.foot-column2 #subhead{
	font-size: 13px;
	color: #767e85;
	padding-bottom: 7px;
}
.foot-column #subhead:hover,.foot-column2 #subhead:hover{
	cursor:pointer;
	color:  #babfc4;
}
.foot-column2 #subheads{
	color:#242526;
}
.foot-column3{
	display: inline-block;
	padding-top: 31px;
	padding-left: 90px;
	font-size:11px;
}
.foot-column3 a{
	text-decoration:none;
	color:#94999d;	
	padding-left: 9px;
}
.license{
	color:#94999d;
	font-size:11px;
	padding-top: 209px;
	padding-left:9.5px
}
.foot-column3 a:hover{
	color:  #babfc4;
}
.footer li{
	list-style-type:none;
}